.m{
   font-size: 50px;
   width: auto;
   height: auto;
   position: relative;
   color: #7d18b8;
   left: 520px;
}

.Ana{
   width: auto;
   height: auto;
   position: relative;
   left: 500px;
}

.hk{
   width: auto;
   height: auto;
   position: relative;
   left: 550px;
}

.ur{
   width: auto;
   height: auto;
   position: relative;
   left: 590px;
}

.aaa{
   width: auto;
   height: auto;
   position: relative;
   left: 500px;
}

.ur{
   width: auto;
   height: auto;
   position: relative;
   left: 560px;
}

.hk{
   width: auto;
   height: auto;
   position: relative;
   left: 620px;
}

.AAY{
   position: relative;
   left: 400px;
}

.bmtr{
   position: relative;
   left: 600px;
}

.mtrid{
   position: relative;
   left: 560px;
}
.mm{
   color: rgb(13, 16, 141);
   position: relative;
   left: 540px;
}

.h2rr{
   position: relative;
   left: 110px;
}

.kwsf{
   font-size: 35px;
   position: relative;
   left: 460px;
   top: -100px;
   
}

.ninja{
   font-size: 35px;
   position: relative;
   left: 230px;
   top: -100px;
   height: 550px;
   
}

.nnj{
   font-size: 35px;
   position: relative;
   left: 350px;
   top: -100px;
}

.vulu{
   height: 550px;
   font-size: 35px;
   position: relative;
   left: 260px;
   top: -100px;
}

.hkknda{
   color: rgb(179, 20, 20);
}

.msy{
   color: rgb(179, 20, 20);
}

.vzy{
   color: rgb(179, 20, 20);
}